html, body {
	background-color: #EAE3D3;
}

a:hover, a:focus {
	text-decoration: none;
}

.header {
	margin-top: 30px;
	margin-bottom: 65px;
}

.nav li {
	float:left;
	font-size: 25px;
}

.nav a {
	color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}

#logo {
	color: #fff;
	cursor: pointer;
}

#popup {
	display:none;
	max-width:280px;
	border:15px solid transparent;
	border-radius: 5px;
	background-color: #429FB6;
	color: #fff;
	padding-bottom:20px;
	padding-top:10px;
}

#popup .name {
	text-align:center;
	margin-top:0;
}

#popup a {
	color: #e2e2e2;
	font-size: 16px;
	text-align:center;
	display:block;
}

#earth {
	margin-top:-5px;
	width:25px;
}

.jvectormap-region {
	stroke: white;
	stroke-width: 0;
}

.selector {
	color: #ffffff;
	margin-left: 150px;
	margin-bottom: 50px;
}


