html, body {
	background-color: #EAE3D3;
	font-family: 'Lato', sans-serif;
}

a:hover, a:focus {
	text-decoration: none;
}

.header {
	margin-top: 30px;
	margin-bottom: 65px;
}

.nav li {
	float:left;
	font-size: 20px;
}

.nav a {
	color: #747169;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}

#logo {
	color: #747169;
	cursor: pointer;
	margin-top:30px;
	font-size: 30px;
}

#popup {
	display:none;
	max-width:280px;
	border:15px solid transparent;
	border-radius: 5px;
	background-color: #429FB6;
	color: #fff;
	padding-top:10px;
}

#popup .name {
	text-align:center;
	margin-top:0;
}

#popup a {
	color: #e2e2e2;
	font-size: 16px;
	text-align:center;
	display:block;
}

#earth {
	margin-top: -23px;
	width: 40px;
}

.jvectormap-region {
	stroke: white;
	stroke-width: 0;
}

.selector {
	color: #747169;
	margin-left: 300px;
	margin-bottom: 200px;
}

.vaadin-combo-box-overlay-0 #selector.vaadin-combo-box-overlay:not([touch-device]) .item.vaadin-combo-box-overlay:hover, .vaadin-combo-box-overlay-0 #selector.vaadin-combo-box-overlay .item[focused].vaadin-combo-box-overlay {
	background-color: transparent;
	color: #6DAD88;
}

.paper-input-container-0 .focused-line.paper-input-container {
	background: transparent;
}

#overlay {
	border: none;
	box-shadow: none;
	background-color: rgba(255, 255, 255, 0.72);
}

.combo-container {
	width: auto; float:left; margin-left: 10px;
	margin-top: -10px;
}

#input.vaadin-combo-box {
	font-size:24px;
	color: #747169;
	font-family: 'Lato', sans-serif !important;
}

.jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-goback {
	background-color: #E39165 !important;
}

